* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home-route {
    min-height: 100vh;
}

.home-container {
    padding-top: 80px;
    min-height: 90%;
    width: 100%;
    background-color: white;
}

th,td,tr {
    border: 1px solid black;
    padding: 20px;
    font-size: 19px;
}
table {
    border: collapse;
    width: 80%;
    margin: 40px;
    max-width: 100%;
}
@media screen and (max-width : 576px) {
    table {
    margin: 10px;
    }
}
